[submodule "External/OAuthConsumer"]
	path = External/OAuthConsumer
	url = git@github.com:adamvduke/OAuthConsumer.git
[submodule "External/ObjCMacros"]
	path = External/ObjCMacros
	url = git@github.com:adamvduke/ObjCMacros.git
